.formSnippet {
    background: linear-gradient(rgb(248, 248, 248), rgb(244, 244, 244));
    align-items: center;
    justify-content: center;
    transition: opacithsl(0, 0%, 0%)s ease;
    max-height: 270px;
    transition: translate 0.3s ease;
    box-shadow: 1px 1px 2px 0px rgb(147, 147, 147, 0.3);

}

.formSnippet:hover {
    translate: 0px -2px;
}

.link {

    /* background-color: blue; */
    height: 90%;
    width: 100%;
}

.link .formStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
    /* background-color: gray; */
    border-radius: 5px;
   
}

.questionsPreview {
    color: grey;
    height: 50%;
    padding: 10px;

}

.questionsPreview ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3px 0px;
    /* background-color: red; */
    list-style-position: inside;
}

.questionsPreview ul li {
    font-size: 0.9em;
    padding: 5px 0px;
    overflow-x: scroll;
    white-space: nowrap;

}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}

.bottom .activeStatus {
    color: var(--activeGreen);
    padding: 3px 10px;
}

.bottom .actions img {
    opacity: 50%;
    height: 1.2em;
    padding: 0px 10px;
    margin-top: 5px;
}

.bottom .actions img:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (min-width: 1400px) {
    .bottom img {
        display: none;
    }

    .formSnippet {
        position: relative;
        justify-content: flex-start;
    }

    .bottom {
        justify-content: center;
        position: absolute;
        bottom: 5%;
    }


    .formSnippet:hover img {
        display: inline;
    }

    .formSnippet:hover .bottom {
        justify-content: space-around;
    }
}