.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .intro {
    margin-top: 20px;
}

.container .intro h3 {
    color: #fff;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .intro p {
    margin: 10px;
    margin-bottom: 30px;
    color: white;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container button {
    color: white;
    font-weight: 550;
    background-color: var(--ezComs_blue);
    border: none;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.container button:hover {
    cursor: pointer;
    background-color: rgb(0, 145, 229);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
}

.content p {
    max-width: 400px;
    transform: translate(0, -2.5em);
}

.content label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.content label input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 10px;
    border-color: #cacaca;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
