.container {
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.signInBtn {
    max-width: 100px;
}

.content {
    width: 100%;
}
.content input {
    /* background-color: red; */
    box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
    .content {
        width: 70%;
    }
}


