@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.menuImage {
    display: none;
}
.nav_container {
    height: 11vh;
    width: 100vw;
    flex-shrink: 0;
    background: var(--darkgrey);
    left: 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_links .active {
    color: blue;
}

.website_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 8%;
    /* background: red; */
}

.website_title h1 {
    font-size: 30px;
}

.website_title a{
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.website_title img {
    height: 45px;
}

.nav_links {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    /* background: green; */

}

.nav_links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.2s ease-in;
    padding: 10px 0px;

}

.nav_links a:hover{
    color: var(--ezComs_turquoise);
    /* border-bottom: 2px solid var(--ezComs_turquoise); */

}

.logoutButton {
    font-size: 16px;
}

#email {
    color: rgb(158, 231, 255);
    font-size: 16px;
    padding: 0px 20px;
}

.loggedInDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-right: 8%;
    /* background-color: blue; */
}


.navbar_links a:hover{
    /* color: white; */
    /* background-color: rgb(63, 143, 213); */
    background-color: #e0edff;
}

@media only screen and (max-width: 1280px) {
    .nav_container {
        max-width: 1280px;
    }

    .website_title {
        margin-left: 6%;
    }

    .website_title h1{
        font-size: 0.9em;
    }

    .website_title img {
        height: 35px;
    }

    .nav_links {
        gap: 2rem;
    }
    .nav_links a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        transition: color 0.2s ease-in;
        padding: 0px 15px;
    }

    .loggedInDetails {
        margin-right: 6%;
    }

    #email {
        font-size: 0.9rem;
    }

    .logoutButton {
        font-size: 0.9rem;
        padding: 0.9rem;
    }
}

@media only screen and (max-width: 1024px) {
    .nav_container {
        max-width: 1024px;
        justify-content: center;
    }

    .nav_links {
        gap: 0.9em;
    }
    #email {
        padding: 0;
    }
}

@media only screen and (max-width:768px) {
    .nav_container {
        max-width: 768px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .menuContent {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: blue;
    }

    .menuImage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 10%;
        border-radius: 10px;
        margin-right: 5%;
        gap: 0em;
    }

    .menuImage:hover {
        background-color: rgb(51, 52, 65);
    }
    .menuImage img {
        height: 50px;
    }

    .menuImage img:hover {
        cursor: pointer;
    }

    .nav_links {
        display: none;
        flex-direction: column;

    }

    .openMenu {
        display: flex;
        background-color: red;
    }

    .openMenu h4 {
        padding: 10px;
        background: green;
    }


    .loggedInDetails {
        display: none;
    }
}

@media only screen and (max-width:640px) {
    .nav_container {
        max-width: 640px;
    }
}

@media only screen and (max-width:475px) {
    .nav_container {
        max-width: 475px;
    }
}