@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.nav_container {
    height: 11vh;
    flex-shrink: 0;
    background: var(--darkgrey);
    left: 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 8%;
    /* background: red; */
}

.website_title h1 {
    font-size: 30px;
}

.website_title a{
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.website_title img {
    height: 45px;
}

.nav_links {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    /* background: green; */

}

.nav_links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease-in;
    padding: 0px 15px;
}

.nav_links a:hover{
    color: var(--ezComs_turquoise);
}

.logoutButton {
    font-size: 16px;
}

#email {
    color: white;
    font-size: 16px;
    padding: 0px 20px;
}

.loggedInDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-right: 8%;
    /* background-color: blue; */
}


.navbar_links a:hover{
    /* color: white; */
    /* background-color: rgb(63, 143, 213); */
    background-color: #e0edff;
}
