@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.nav_container {
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 90%;
    background-color: white;
}

.website_title a{
    display: block; 
    font-family: 'Tilt Warp', cursive;
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding-bottom: 20px;
}

.navbar_links li {
    list-style: none;

}

.navbar_links ul {
    display: flex;
    float: left; /*temporary*/
    gap: 25px; /*temporary*/
    justify-content: space-around;
    padding: 20, 20, 20, 20;
}

.navbar_links a{
    text-decoration: none;
    color:rgb(43, 43, 43);
    display: block;
    padding: 5px;
    /* background-color: #e0edff; */

}

.navbar_links a:hover{
    /* color: white; */
    /* background-color: rgb(63, 143, 213); */
    background-color: #e0edff;
}
