.imageContainer {
    /* background-color: blue; */
}

.imageContent {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100px;
    height: fit-content;
    object-fit: contain;
    max-height: 120px;
    /* background-color: red; */
}
.imageDeleteBtn {
    position: absolute;
    right: 3px;
    top: 3px;
    opacity: 1;
    display: none;
}
.imageContent img {
    width: 100%;
    border-radius: 10px;
    max-height: 120px;
    object-fit: contain;
}
.imageContent:hover img {
    opacity: 50%;
}

.imageContent:hover .imageDeleteBtn {
    display: flex;
}

.imageDeleteBtn:hover {
    opacity: 50%;
}
