.imageContainer {
    /* background-color: blue; */
}

.imageContent {
    position: relative;
    width: 100px;
    max-height: 100px;
    /* background-color: red; */
}
.imageDeleteBtn {
    position: absolute;
    right: 3px;
    top: 3px;
    opacity: 1;
    display: none;
}
.imageContent img {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.imageContent:hover img {
    opacity: 50%;
}

.imageContent:hover .imageDeleteBtn {
    display: flex;
}

.imageDeleteBtn:hover {
    opacity: 50%;
}
