.landingBody {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.landingContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landingTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.landingTitle img {
    height: 50px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--spacing-1);
}

li svg {
    min-width: 25px;
    max-width: 25px;
    padding-right: var(--spacing-1)
    /* background-color: red; */
}

.buttons {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(var(--blue500), var(--turquoise500));
}

.form {
    width: 90%;
}

.actualForm {
    width: 100%;
}

.landingExerpt {
    margin: 1rem;
    margin-top: 2rem;
    /* background-color: blue; */
}


.blob1 {
    position: fixed;
    top: -50px;
    left: -50px;
    border-radius: 52% 48% 50% 50% / 45% 47% 53% 55%;
    background: linear-gradient(var(--blue500), var(--turquoise500));
    width: 200px;
    height: 200px;
    transition: border-radius 3s ease;
    animation: blob1Animation 6s infinite alternate, fadeIn 3s ease, spinning 25s infinite linear, floating 5s infinite ease-in-out alternate;
}

.blob2 {
    position: fixed;
    right: calc(-0.08*100vw + 100vw);
    bottom: 10%;
    border-radius: 52% 48% 50% 50% / 45% 47% 53% 55%;
    background: linear-gradient(var(--blue500), var(--turquoise500));
    width: 80px;
    height: 80px;
    animation: blob1Animation 6s infinite alternate, fadeIn 3s ease, spinning 25s infinite linear, floating 4s infinite ease-in-out alternate;
}

.blob3 {
    position: fixed;
    left: calc(-200px + 100vw);
    bottom: -200px;
    border-radius: 52% 48% 50% 50% / 45% 47% 53% 55%;
    background: linear-gradient(var(--blue500), var(--turquoise500));
    width: calc(0.2 * 100vw);
    height: calc(0.2 * 100vw);
    animation: blob1Animation 10s infinite alternate, fadeIn 3s ease, spinning 35s infinite linear, floating 10s infinite ease-in-out alternate;
}

@media only screen and (min-width: 640px) {
    .form {
        width: 70%;
    }
}
@media only screen and (min-width: 768px) {
    .wave {
        background-image: url('../../public/images/wave.png');
        background-size: 55vw 100vh;
        background-repeat: repeat-y;
        background-attachment: fixed;
        animation: scrollWave 100s linear infinite;
    }
    .landingBody {
        background-color: var(--grey800);
    }
    .landingContainer {
        width: 95%;
        flex-direction: row;
    }
    .landingExerpt {
        width: 50%;
    }
    .form {
        width: 50%;
    }

    .buttons {
        background: none;
        width: 55%;
        padding-bottom: var(--spacing-4);
        border-bottom: 2px solid var(--grey50);
    }

}

@media only screen and (min-width: 1024px) {
    .landingTitle h1 {
        font-size: 3rem;
    }

    .landingTitle {
        margin-bottom: var(--spacing-2)
    }

    .landingTitle img {
        height: 60px;
    }

    .landingExerpt {
        margin-top: 0;
    }

    .landingIntro li label {
        font-size: var(--font-size-3);
    }

    .landingIntro {
        gap: var(--spacing-4);
        max-width: 70%;
    }

    .landingIntro ul {
        gap: var(--spacing-4);

    }

    .buttons {
        justify-content: space-evenly;
    }

    .buttons button {
        padding: var(--spacing-2);
        padding-right: var(--spacing-4);
        padding-left: var(--spacing-4);
    }
}

@media only screen and (min-width: 1440px) {
    .landingIntro {
        max-width: 60%;
    }
    
    .actualForm {
        width: 90%;
    }
}

@keyframes blob1Animation {
    0% {
        border-radius: 52% 48% 50% 50% / 45% 47% 53% 55%;
    }
    25% {
        border-radius: 42% 58% 43% 57% / 51% 39% 61% 49%;
    }
    50% {
        border-radius: 32% 68% 35% 65% / 56% 33% 67% 44%;
    }

    75% {
        border-radius: 41% 59% 42% 58% / 46% 40% 60% 54%;
    }

    100% {
        border-radius: 52% 48% 50% 50% / 45% 47% 53% 55%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes spinning {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 359deg;
    }
}

@keyframes scrollWave {
    0% {
        background-position-y: calc(-1 * 100vh);
    }

    100% {
        background-position-y: 100vh;
    }
}

@keyframes floating {
    to {
        transform: translateY(10%);
    }
}
