.commissionsContainer {
    /* background-color: blue; */
    height: 89.5vh;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    box-sizing: border-box;

}

.commissionsData {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    flex-direction: column;
}
.commissionsContainer p {
    padding: 0.3rem 0;
    padding-left: 0.3rem;
    box-sizing: border-box;
}

.commissionsContent {
    /* background-color: orange; */
    width: 75%;
    height: 100%;
    /* border-radius: 10px;
    position: relative; */
}
.completedOrders {
    width: 100%;
}
.completedOrderContainer {
    width: 100%;
    border: 1px solid rgb(198, 198, 198);
    border-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 0.35fr;
    grid-auto-rows: auto;
}

.completedDateContainer {
    background-color: rgb(238, 238, 238);
    grid-row: 1;
    grid-column: 1 / 4;
    width: 100%;
    border-top: 1px solid rgb(198, 198, 198);
    border-bottom: 1px solid rgb(198, 198, 198);
}

/* .completedOrderContainer * {
    border: 1px solid grey;
} */
.completedArtIcon {
    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
    grid-column: 3;
}
.completedArtIcon button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

}
.completedArtIcon img {
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid rgb(220, 220, 220);
    grid-row: 3;
    grid-column: 1 / 4;
}
.buttons button {
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0.2rem 0.5rem;
    margin: 0.3rem;
    box-sizing: border-box;

}

.orderNameContainer {
    grid-column: 1;
    min-width: 0;

}

.orderNameContainer p {
    word-wrap: break-word;
}

.orderPrice {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
}

.completedArtIcon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.2rem 0;
    box-sizing: border-box;
    grid-column: 3;
}

.info *{
    /* background-color: blue; */
    border-radius: 5px;
}

.artPreview {
    display: flex;
    justify-content: flex-end;
    right: 0;
    grid-column: 1/7;
    /* z-index: 1; */
}
.artPreview img {
    border-radius: 5px;
    max-width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.header, .dateReqqed {
    display: none;
}

.noCommissionsIcon {
    opacity: 0.2;
    max-height: 400px;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .commissionsContainer {
        height: 89vh;
    }
    .commissionsData {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .header {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.5fr 0.5fr;
        background-color: rgb(238, 238, 238);
        border: 1px solid rgb(198, 198, 198);
    }

    .headerItem {
        display: flex;
        justify-content: flex-end;
    }

    .completedOrders {
        width: 100%;
    }

    .completedOrderContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.5fr 0.5fr;
        /* background-color: white; */
        box-sizing: border-box;
    }

    .dateReqqed {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .completedDateContainer {
        grid-column: 1;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    /* .info {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    .orderNameContainer {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .orderPrice {
        grid-column: 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .completedArtIcon {
        padding-top: 0.3rem;
    }

    .buttons {
        grid-column: 6;
        grid-row: 1;
        height: 40px;
        border: none;
        
    }
    .completedArtIcon {
        grid-column: 5;
        display: flex;
        padding: 0;
        align-items: center;
    }
    
}
