/* Home/Orders page*/
.ordersContainer {
  height: 93.4vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  /* background-color: black; */

}
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  min-height: 35%;
  border-radius: 20px;
  /* background-color: blue; */
}

.noOrdersImg {
  max-height: 400px;
  opacity: 0.6;
}



@media screen and (min-width: 640px) {
  .ordersContainer {
      height: 89vh;
  }

  .orders {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 40%;
      /* background-color: blue; */
      gap: 10px;
      justify-content: center;
      align-items: start;
      padding: 10px;
      overflow-y: auto;
  }

  .order {
      /* background-color: orange; */
      border-radius: 5px;
      height: 100%;
      max-height: 100%;
      width: 100%;
      /* background-color: orange; */
      margin: 0;
  }
}


@media screen and (min-width: 768px){
  .orders {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    /* background-color: rebeccapurple; */
    gap: auto;
  }
  .order {
    min-width: 0;
  }
  
}


@media screen and (min-width: 1280px){
  .orders {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 40%;
    margin: 0;
    /* background-color: rebeccapurple; */
    gap: 20px;
    }
  .order {

    /* background-color: orange; */
    justify-self: center;
    min-width: 100%;
  }  
}
