.orderDetailsContainer {
    display: flex;
    font-size: 1em;
    height: 89.5vh;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
}
.orderDetailsContainer * {
  word-wrap: break-word; 
}
.orderDetailsContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    overflow-y: auto;
    /* background-color: blue; */
    border-radius: 30px;
}

.orderDefaultDetails p {
    padding: 1rem;
}

.question {
    padding: 1rem;
}

.selection {
    padding: 0.5rem;
    font-size: 1em;
    font-family: 'Inter';
    border-radius: 5px;
}

.completedArtworks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.completedArtworks h4 {
    padding: 1rem 0;
}

.wipArts h4 {
    padding: 1rem 0;
}

.status h4 {
    padding: 1rem 0;
}

.images {
    display: flex;
    align-items: left;
    padding: 10px;
    gap: 20px;
}

.refImages {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    /* background-color: orange; */
}
.refImages img {
    width: 100%;
    max-width: 250px;
}
.uploadedWipArts,
.completedArtworksPreviewUpload {
    display: flex;
    /* background-color: red; */
    padding: 1rem 0;
}
.artsContainer {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    border-radius: 10px;
    width: 100%;
}
.arts {
    display: flex;
    max-width: 550px;
    overflow-x: auto;
    max-height: 500px;
}
.artsContainer h4 {
    padding-bottom: 1rem;
}

.arts img {
    min-width: 250px;
    /* background-color: blue; */
}

/* .rightSide * {
    background-color: red;
} */
.buttons {
    display: flex;
    justify-content: center;
    max-width: 100%;
    /* background-color: green; */
    border-radius: 5px;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    /* background-color: red; */
}

.buttons button {
    margin: 0;
    width: 30%;
    max-width: 100px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.uploadArt p {
    padding: 1rem 0;
}

.fillouts {
    padding: 1rem 0;
}

.refImagesTitle p {
    padding: 1rem 0;
}

.orderNotes p {
    padding-top: 1rem;
}

.id {
    color: rgb(96, 96, 172);
}

.origOrderIcon {
    background: none;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    padding-left: 0;
}

.origOrderIcon:hover {
    cursor: pointer;
    translate: 0px 1px;
}

.origOrderIcon img {
    width: 50px;
}

.reqDetails {
    display: flex;
    flex-direction: column;
}

.reqDetails p {
    padding: 1rem 0;
}

.orderName {
    padding: 1rem 0;
}

.refImg {
    border-radius: 10px;
}

.fillouts {
  max-width: 100%;
}
.question p{
  word-wrap: break-word; 
  width: 100%;
}

@media screen and (min-width: 768px) {
    .orderDetailsContainer {
        height: 89vh;
        padding: 0;
        margin: 0;
    }
    .orderDetailsContainer input {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .orderDetailsContent {
        width: 95%;
        display: grid;
        /* background-color: blue; */
        padding: 1rem;
        box-sizing: border-box;
        grid-template-columns: 0.7fr 1.3fr;
        overflow-y: auto;
    }

    .leftSide {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 0.7fr;
        overflow-x: auto;
        
    }

    .buttons {
        justify-content: start;
    }

    .rightSide {
        padding: 1rem;
        padding-bottom: 0;
        box-sizing: border-box;
        grid-column: 2;
        grid-auto-rows: auto;
        background-color: rgb(244, 244, 244);

        margin: 0;
        gap: 0;
        width: 1.3fr;
    }

    .refImagesTitle {
        grid-row: 1;
        position: static;
    }

    .refImages {
        flex-direction: row;
        max-height: 50%;
        overflow-x: auto;
        padding: 1rem;
        box-sizing: border-box;
    }
    /* .orderNotes {
      grid-row: 3;
    } */
}

/* .completedArtworks img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

.wipArts img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 300px;
} */
