.headers {
    display: flex;
    gap: 190px;
    padding-left: 70px;
    margin: 20px;
}

.commissionSnippet {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px rgb(177, 177, 177);
    padding: 10px;
}

.buttons button {
    border: none;
    padding: 1px 15px 1px 15px;
    border-radius: 5px;
}

.buttons .deleteBtn:hover {
    background-color: rgb(232, 28, 28);
}
.buttons button:hover{
    cursor: pointer;
    background-color:rgb(209, 209, 209);
}

.buttons {
    display: flex;
    gap: 10px;
}

.completedArtIcon img {
    max-width: 30px; 
}

.completedArtIcon button {
    background: none;
    border: none;
}

.deleteBtn {
    color: white;
    background-color: rgb(255, 74, 74);
}

.artPreview {
    margin-left: 1000px;
}
.artPreview img {
    max-width: 200px;
}