 /*Order details*/
.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  height: 100%;
  width: 95%;
  box-shadow: 1px 1px 2px 0px rgb(147, 147, 147);
  justify-content: space-between;
  position: relative;
  overflow: hidden;

}
 .orderContainer * {
  color: black;
  font-size: 0.95em;
 }

 .orderContainer button {
  color: white;
 }

.orderContainer:hover {
  translate: 0px 2px;
  cursor: pointer;
}

.orderName {
  padding: 1rem 0;
}


.actions {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  padding: 10px 0;

}

.actions img {
  opacity: 50%;
  height: 1.2em;
  padding: 0px 10px;
  margin-top: 5px;
}

.actions img:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (min-width: 640px) {
  .orderContainer {
    /* opacity: 50%; */

    width: 100%;
    height: 100%;
  }

  .orderName {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 768px) {
  .orderContainer {
    /* opacity: 50%; */
    align-items: center;
    font-size: 0.9em;
    width: 100%;
    height: 100%;
  }
  .orderSnippet {
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .orderContainer {
    font-size: 1em;
  }
}

@media screen and (min-width: 1280px) {

  .orderContainer {
    max-width: 100%;
    height: 100%;
  }

}






