
.fillouts {
  padding: 5px;
}

.images {
  display: inline-flexbox;
  justify-content: space-around;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: left;
  padding: 10px;
  gap: 20px;

}
.images img {
  width: 100%;
  max-width: 350px;
}

.completedArtworks img {
  width: 100%;
  max-width: 400px;
}



