.loginContainer {
    display: flex;
    flex-direction: column;
}
.loginContainer .landingTitle {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
}

.landingTitle h1 {
    font-size: 80px;
    padding: 20px;
}

.landingTitle img {
    height: 100px;
}
.loginContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(var(--ezComs_blue), var(--ezComs_turquoise)); */
}



.form {
    width: 550px;
    height: 646px;
    flex-shrink: 0;
    border-radius: 30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 6px solid white;
    width: 550px;
    height: 103px;
    align-items: center;
}

.buttons button {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 170px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 20px;
    border: none;
    transition: background-color 0.2s ease;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons .notClickedButton:hover {
    color: white;
    background-color: black;
}

.buttons .clickedButton {
    color: white;
    background: none;
    border: 3px solid white;
    transition: border-color 0.2s ease, color 0.3s ease;
}

/* .buttons .clickedButton:hover {
    border-color: black;
    color: black;
} */

.loginTitleIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(208, 208, 255);
}
.loginTitleIntro .landingIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.loginTitleIntro h2 {
    display: flex;
    width: 465px;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.loginTitleIntro li {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    padding: 15px 0px 15px 0px;
}

.loginTitleIntro li label {
    max-width: 465px;
    margin-left: 20px;
}

.loginTitleIntro li svg {
    min-width: 43px; /* Set the minimum width */
    min-height: 43px; /* Set the minimum height */
}

.blob1 {
    position: fixed;
    top: -50px;
    left: -50px;
    border-radius: 50% 50% 41% 59% / 52% 50% 50% 48%;
    background: linear-gradient(var(--ezComs_blue), var(--ezComs_turquoise));
    width: 200px;
    height: 200px;
  }
  