/* font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --sora: 'Sora', sans-serif;
    --inter: 'Inter', sans-serif;
    --bg-color: #f5f5f5;
    --roboto: 'Roboto', sans-serif;

    --turquoise500: #00e2c7;
    --turquoise600: #00cfb7;
    --blue200: #addff7;
    --blue300: #86d3f7;
    --blue400: #4bc1f8;

    --blue500: #00adfc;
    --blue600: #009be2;

    --grey50: #f6f6f6;
    --grey100: #e6e6e6;
    --grey200: #cfcfcf;
    --grey300: #b4b4b4;
    --grey400: #999999;
    --grey700: #34333e;
    --grey800: rgb(26, 26, 26);

    --red100: rgb(255, 231, 231);
    --red400: rgb(255, 134, 134);

    --green100: rgb(236, 255, 242);
    --green400: rgb(69, 203, 111);
    --green500: rgb(0, 193, 55);

    --font-size-0: 0.5rem;
    --font-size-1: 0.75rem;
    --font-size-2: 1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 2rem;

    --font-weight-400: 400;
    --font-weight-700: 700;

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2rem;
    --spacing-6: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
}
.app {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.content-container {
    width: 80%;
}

.pos-relative {
    position: relative;
}

.icon-size {
    height: 55px;
}
.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.z-1 {
    z-index: 1;
}

.w-80 {
    width: 80%;
}
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-1 {
    height: 1px;
}

.w-1 {
    width: 1px;
}

.w-50 {
    width: 50%;
}

.w-fit {
    width: fit-content;
}

.h-50 {
    height: 50%;
}

.h-auto {
    height: auto;
}

.page-container {
    height: 93.4vh;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.bg-transparent {
    background-color: transparent;
}

.bg-grey-50 {
    background-color: var(--grey50);
}

.bg-grey-100 {
    background-color: var(--midgrey);
}
.bg-grey-50 {
    background-color: var(--grey50);
}
.bg-grey-100 {
    background-color: var(--grey100);
}
.bg-grey-200 {
    background-color: var(--grey200);
}
.bg-grey-300 {
    background-color: var(--grey300);
}
.bg-grey-700 {
    background-color: var(--grey700);
}

.bg-grey-800 {
    background-color: var(--grey800);
}
.bg-blue-200 {
    background-color: var(--blue200);
}
.bg-blue-300 {
    background-color: var(--blue300);
}
.bg-blue-400 {
    background-color: var(--blue400);
}
.bg-blue-500 {
    background-color: var(--blue500);
}

.bg-turquoise-500 {
    background-color: var(--turquoise500);
}

.bg-red-100 {
    background-color: var(--red100);
}

.bg-green-100 {
    background-color: var(--green100);
}

.align-items-start {
    align-items: flex-start;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

.border-box {
    box-sizing: border-box;
}

.text-align-center {
    text-align: center;
}
.text-grey-50 {
    color: var(--grey50);
}
.text-grey-100 {
    color: var(--grey-100);
}
.text-grey-200 {
    color: var(--grey-200);
}
.text-grey-300 {
    color: var(--grey300);
}
.text-grey-400 {
    color: var(--grey400);
}
.text-grey-800 {
    color: var(--grey800);
}

.text-turquoise-500 {
    color: var(--turquoise500);
}

.text-turquoise-600 {
    color: var(--turquoise600);
}

.text-blue-500 {
    color: var(--blue500);
}

.text-blue-600 {
    color: var(--blue600);
}

.text-red-400 {
    color: var(--red400);
}

.text-green-400 {
    color: var(--green400);
}

.pad-1 {
    padding: var(--spacing-1);
}

.pad-2 {
    padding: var(--spacing-2);
}

.pad-3 {
    padding: var(--spacing-3);
}

.pad-4 {
    padding: var(--spacing-4);
}

.padr-1 {
    padding-right: var(--spacing-1);
}

.padr-2 {
    padding-right: var(--spacing-2);
}

.padr-3 {
    padding-right: var(--spacing-3);
}

.padl-1 {
    padding-left: var(--spacing-1);
}

.padl-2 {
    padding-left: var(--spacing-2);
}

.padl-3 {
    padding-left: var(--spacing-3);
}

.padx-1 {
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
}

.padx-2 {
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
}

.padx-3 {
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);
}

.padx-4 {
    padding-right: var(--spacing-4);
    padding-left: var(--spacing-4);
}

.padt-1 {
    padding-top: var(--spacing-1);
}

.padt-2 {
    padding-top: var(--spacing-2);
}

.padt-3 {
    padding-top: var(--spacing-3);
}

.padb-1 {
    padding-bottom: var(--spacing-1);
}

.padb-2 {
    padding-bottom: var(--spacing-2);
}

.padb-3 {
    padding-bottom: var(--spacing-3);
}

.pady-1 {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
}

.pady-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.pady-3 {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
}

.mar-1 {
    margin: var(--spacing-1);
}

.mar-2 {
    margin: var(--spacing-2);
}

.mar-3 {
    margin: var(--spacing-3);
}

.marb-1 {
    margin-bottom: var(--spacing-1);
}

.marb-2 {
    margin-bottom: var(--spacing-2);
}

.marb-3 {
    margin-bottom: var(--spacing-3);
}

.marb-4 {
    margin-bottom: var(--spacing-4);
}

.mart-1 {
    margin-top: var(--spacing-1);
}

.mart-2 {
    margin-top: var(--spacing-2);
}

.mart-3 {
    margin-top: var(--spacing-3);
}

.mart-4 {
    margin-top: var(--spacing-4);
}
.marx-1 {
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}

.marx-2 {
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
}

.marx-3 {
    margin-left: var(--spacing-3);
    margin-right: var(--spacing-3);
}

.mary-1 {
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}

.mary-2 {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
}

.mary-3 {
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

.mary-4 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
}

.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2);
}

.gap-3 {
    gap: var(--spacing-3);
}

.gap-4 {
    gap: var(--spacing-4);
}

.flex-row,
.flex-col {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.font-size-0 {
    font-size: var(--font-size-0);
}
.font-size-1 {
    font-size: var(--font-size-1);
}
.font-size-2 {
    font-size: var(--font-size-2);
}

.font-size-3 {
    font-size: var(--font-size-3);
}

.font-size-4 {
    font-size: var(--font-size-4);
}

.font-size-5 {
    font-size: var(--font-size-5);
}

.font-weight-400 {
    font-weight: var(--font-weight-400);
}

.font-weight-700 {
    font-weight: var(--font-weight-700);
}

.radius-1 {
    border-radius: 5px;
}

.radius-2 {
    border-radius: 10px;
}

.radius-3 {
    border-radius: 15px;
}

.radius-4 {
    border-radius: 20px;
}

.white-outline-1 {
    border: 1px solid var(--grey50);
}

.white-outline-2 {
    border: 2px solid var(--grey50);
}

.dark-grey-outline-1 {
    border: 1px solid var(--grey800);
}

.dark-grey-outline-2 {
    border: 2px solid var(--grey800);
}

.mid-grey-outline-1 {
    border: 1px solid var(--midgrey);
}
.errorMessage {
    color: rgb(255, 134, 134);
}

.successMessage {
    color: rgb(69, 203, 111);
}

.loadingMessage {
    color: grey;
}

button:hover:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

.filledWhiteButton {
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 12px 35px;
    flex-shrink: 0;
    border-radius: 20px;
    border: none;
    transition: background-color 0.2s ease;
}

.turquoiseHoverButton:hover {
    color: white;
    background-color: var(--turquoise500);
}

.greyHoverButton:hover {
    background-color: var(--grey50);
}

.outline-button,
.fill-button {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    transition: background-color 0.3s ease;
}

.fill-button {
    border: none;
}
.mid-grey-hover:hover {
    background-color: var(--midgrey);
}
.blueButton {
    color: white;
    font-weight: 550;
    background-color: var(--blue500);
    border: none;
    font-size: 16px;
    margin: 1rem;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    max-width: 300px;
}

.blueButton:hover {
    cursor: pointer;
    background-color: rgb(0, 145, 229);
}
.xBtn {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: transparent;
    opacity: 30%;
    border: none;
    width: 20px;
    height: 20px;
}
.transparentInput {
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.transparentInput::placeholder {
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}

.transparentInput:focus {
    outline: none;
}

.blueTransparentInput:focus {
    border-bottom: 2px solid var(--blue500);
    background-color: rgba(187, 210, 255, 0.2);
}

.turquoiseTransparentInput:focus {
    border-bottom: 2px solid var(--turquoise500);
    background-color: rgba(187, 243, 255, 0.2);
}

.textArea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.textArea:focus {
    outline: none;
    background-color: rgba(187, 210, 255, 0.5);
}

.chooseFilesInput {
    display: none; /* Hide the default file input */
}
/* 
.customFileInputContainer {
    display: flex;
    justify-content: center;
} */
.customFileInput {
    display: flex;
    width: 40%;
    padding: 0.5rem;
    justify-content: center;
    background-color: var(--grey50);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    max-width: 170px;
}
.dateContainer {
    width: 60%;
    max-width: 170px;
}
.dateInput {
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--grey50);
}

.saveBtn {
    background-color: var(--turquoise500);
}

.saveBtn:hover {
    background-color: rgb(52, 216, 200);
}
.deleteBtn {
    background-color: rgb(251, 99, 99);
}

.deleteBtn:hover {
    background-color: rgb(210, 75, 75);
}

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
}
.pageTitle h1 {
    font-size: 1.5em;
    text-align: center;
}

.line {
    min-width: 100%;
    height: 3px;
    background-color: grey;
}

.soft-white-glow {
    box-shadow: 0px 0px 10px 5px rgba(256, 256, 256, 1);
}
body {
    /* font-family: roboto; */
    /* font-family: --inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    margin: 0, auto;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .page-container {
        height: 89vh;
    }
}

::-webkit-scrollbar {
    width: 0%; /* width of the entire scrollbar */
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue500); /* color of the thumb (the draggable part) */
    border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue600); /* color of the thumb on hover */
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 9px;
    }

    .page-container {
        height: 89vh;
    }
}

@media screen and (min-width: 475px) {
    .textArea {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .textArea {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .textArea {
        width: 70%;
        min-height: 200px;
        padding: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .textAreaContainer {
        width: 55%;
        min-height: 300px;
    }
}

/* .header {
  height: 20px;
  width: 100%;

  padding: 15px;
  margin: 0, auto;
  justify-content: center;
  background: red;
  border-bottom: solid var(--iceblue) 4px;
} */
/* .header a {
  color: var(--bluegrey);
  font-family: sora;
  text-decoration: none;

}

.header .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
} */
