/* font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --sora: 'Sora', sans-serif;
    --inter: 'Inter', sans-serif;
    --bg-color: #f5f5f5;
    --roboto: 'Roboto', sans-serif;


    --iceblue: rgb(0, 183, 255);
    --bluegrey: rgb(59, 91, 112);
    --ezComs_turquoise: #00e2c7;
    --ezComs_blue: #00adfc;
    --darkgrey: rgb(26, 26, 26);
    --lightGrey: #f6f6f6;
    --activeGreen: rgb(0, 193, 55);

    --font-size-0: 0.5rem;
    --font-size-1: 0.75rem;
    --font-size-2: 1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 2rem;

    --font-weight-400: 400;
    --font-weight-700: 700;

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2rem;
    --spacing-6: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    
}
.app {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

.z-1 {
    z-index: 1;
}

.w-100 {
    width: 100%
}

.h-100 {
    height: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.bg-light-grey {
    background-color: var(--lightGrey);
}

.bg-dark-grey {
    background-color: var(--darkgrey);
}

.bg-ezcoms-blue {
    background-color: var(--ezComs_blue);
}

.bg-ezcoms-turquoise {
    background-color: var(--ezComs_turquoise);
}

.align-items-start {
    align-items: start;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}
.text-light-grey {
    color: var(--lightGrey);
}
.text-dark-grey {
    color: var(--darkgrey);
}

.text-ezcoms-turquoise {
    color: var(--ezComs_turquoise);
}

.text-ezcoms-blue {
    color: var(--ezComs_blue);
}

.pad-1 {
    padding: var(--spacing-1);
}

.pad-2 {
    padding: var(--spacing-2)
}

.pad-3 {
    padding: var(--spacing-3)
}

.pad-4 {
    padding: var(--spacing-4);
}

.padr-1 {
    padding-right: var(--spacing-1)
}

.padr-2 {
    padding-right: var(--spacing-2)
}

.padr-3 {
    padding-right: var(--spacing-3)
}

.padl-1 {
    padding-left: var(--spacing-1)
}

.padl-2 {
    padding-left: var(--spacing-2)
}

.padl-3 {
    padding-left: var(--spacing-3)
}

.padx-1 {
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
}

.padx-2 {
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
}

.padx-3 {
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);
}

.padt-1 {
    padding-top: var(--spacing-1);
}

.padt-2 {
    padding-top: var(--spacing-2);
}

.padt-3 {
    padding-top: var(--spacing-3);
}

.padb-1 {
    padding-bottom: var(--spacing-1);
}

.padb-2 {
    padding-bottom: var(--spacing-2);
}

.padb-3 {
    padding-bottom: var(--spacing-3);
}

.pady-1 {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1)
}

.pady-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.pady-3 {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
}

.mar-1 {
    margin: var(--spacing-1);
}

.mar-2 {
    margin: var(--spacing-2);
}

.mar-3 {
    margin: var(--spacing-3);
}

.marb-1 {
    margin-bottom: var(--spacing-1);
}

.marb-2 {
    margin-bottom: var(--spacing-2);
}

.marb-3 {
    margin-bottom: var(--spacing-3);
}

.mart-1 {
    margin-top: var(--spacing-1);
}

.mart-2 {
    margin-top: var(--spacing-2);
}

.mart-3 {
    margin-top: var(--spacing-3);
}

.mary-1 {
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}
.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2);
}

.gap-3 {
    gap: var(--spacing-3);
}

.gap-4 {
    gap: var(--spacing-4);
}

.flex-row, .flex-col {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.font-size-0 {
    font-size: var(--font-size-0);
}
.font-size-1 {
    font-size: var(--font-size-1);
}
.font-size-2 {
    font-size: var(--font-size-2);
}

.font-size-3 {
    font-size: var(--font-size-3);
}

.font-size-4 {
    font-size: var(--font-size-4);
}

.font-size-5 {
    font-size: var(--font-size-5);
}

.font-weight-400 {
    font-weight: var(--font-weight-400);
}

.font-weight-700 {
    font-weight: var(--font-weight-700);
}

.radius-1 {
    border-radius: 5px;
}

.radius-2 {
    border-radius: 10px;
}

.radius-3 {
    border-radius: 15px;
}

.radius-4 {
    border-radius: 20px;
}

.white-outline-1 {
    border: 1px solid var(--lightGrey);
}

.white-outline-2 {
    border: 2px solid var(--lightGrey);
}

.errorMessage {
    font-size: 16px;
    padding: 10px;
    color: rgb(255, 134, 134);
}

.successMessage {
    font-size: 16px;
    padding: 10px;
    color: rgb(69, 203, 111);
}

.loadingMessage {
    font-size: 16px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

.filledWhiteButton {
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 12px 35px;
    flex-shrink: 0;
    border-radius: 20px;
    border: none;
    transition: background-color 0.2s ease;
}

.turquoiseHoverButton:hover {
    color: white;
    background-color: var(--ezComs_turquoise);
}

.greyHoverButton:hover {
    background-color: var(--lightGrey);
}

.outline-button, .fill-button {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    transition: background-color 0.3s ease;
}

.fill-button {
    border: none;
}

.blueButton {
    color: white;
    font-weight: 550;
    background-color: var(--ezComs_blue);
    border: none;
    font-size: 16px;
    margin: 1rem;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    max-width: 300px;
}

.blueButton:hover {
    cursor: pointer;
    background-color: rgb(0, 145, 229);
}
.xBtn {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: transparent;
    opacity: 30%;
    border: none;
    width: 20px;
    height: 20px;
}
.transparentInput {
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    padding-top: 0.5rem;
    margin: 0.7rem 0;
    font-size: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.transparentInput:focus {
    outline: none;
}

.blueTransparentInput:focus {
    border-bottom: 2px solid var(--ezComs_blue);
    background-color: rgba(187, 210, 255, 0.2);
}

.turquoiseTransparentInput:focus {
    border-bottom: 2px solid var(--ezComs_turquoise);
    background-color: rgba(187, 243, 255, 0.2);
}

.textArea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: rgba(187, 210, 255, 0.3);
}

.textArea:focus {
    outline: none;
    background-color: rgba(187, 210, 255, 0.5);

}

.chooseFilesInput {
    display: none; /* Hide the default file input */
}
/* 
.customFileInputContainer {
    display: flex;
    justify-content: center;
} */
.customFileInput {
    display: flex;
    width: 40%;
    padding: 0.5rem;
    justify-content: center;
    background-color: var(--lightGrey);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    max-width: 170px;

}
.dateContainer {
    width: 60%;
    max-width: 170px;

}
.dateInput {
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--lightGrey);
}

.saveBtn {
    background-color: var(--ezComs_turquoise);
}

.saveBtn:hover {
    background-color: rgb(52, 216, 200);
}
.deleteBtn {
    background-color: rgb(251, 99, 99);
}

.deleteBtn:hover {
    background-color: rgb(210, 75, 75);
}

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
    padding: 1rem;
}
.pageTitle h1 {
    font-size: 1.5em;
    text-align: center;
}

.line {
    min-width: 100%;
    height: 3px;
    background-color: grey;
}


@media only screen and (max-width: 482px) {
    .whiteOutlineButton,
    .filledWhiteTurquoiseButton {
        padding: 10px;
        font-size: 15px;
    }
}

body {
    /* font-family: roboto; */
    /* font-family: --inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    margin: 0, auto;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0%; /* width of the entire scrollbar */
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--ezComs_turquoise); /* color of the thumb (the draggable part) */
    border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--ezComs_blue); /* color of the thumb on hover */
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 9px;
    }
}

@media screen and (min-width: 475px) {
    .textArea {
        width: 80%;
    }
    
}

@media screen and (min-width: 768px) {
    .textArea {
        width: 75%;
    }
    
}

@media screen and (min-width: 1024px) {
    .textArea {
        width: 70%;
        min-height: 200px;
        padding: 1rem;

    }
}

@media screen and (min-width: 1280px) {
    .textAreaContainer {
        width: 55%;
        min-height: 300px;
    }
}


/* .header {
  height: 20px;
  width: 100%;

  padding: 15px;
  margin: 0, auto;
  justify-content: center;
  background: red;
  border-bottom: solid var(--iceblue) 4px;
} */
/* .header a {
  color: var(--bluegrey);
  font-family: sora;
  text-decoration: none;

}

.header .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
} */
