.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 89vh;
    width: 100vw;
    /* background-color: blue; */
    overflow: auto;
}

.pageContainer::-webkit-scrollbar {
    width: 0;
}

.pageContent {
    width: 75%;
    height: 100%;
    /* background-color: red; */
}

/* @media screen and (min-width: 768px) {
    .pageContainer {
        height: 89vh;
    }
} */