.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.pageContent {
    width: 75%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .pageContainer {
        height: 89vh;
    }
}